* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-text-color: #394149;
  --backgroud-color: #78e7ff;
  --backgroud-color-navbar: #1e6879;
  --button-color: #0047ff;
  --shadow-color: hsla(210, 12%, 36%, 0.5);
}

/* Bsp. einfügen color: "var(--primary-color);" */

/* Extra small devices (portrait phones, less than 576px)
No media query for `xs` since this is the default in Bootstrap */

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}

body {
  background-color: var(--backgroud-color);
  font-size: 1rem;
  line-height: 1.6;
  font-family: "Spartan", sans-serif;
}

#root {
  height: 100vh;
  /* Use vh as a fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * 100);
  margin: 0 auto;
  min-width: 100%;
}

/* Navigation */
.navbar {
  background-color: var(--backgroud-color);
  top: 0;
  left: 0;
  position: fixed;
  height: 12%;
  width: 100%;
  display: flex;
  flex-direction: column;
  border-bottom-left-radius: 20rem 4rem;
  border-bottom-right-radius: 20rem 4rem;
  border-bottom: 2px solid var(--primary-text-color);
}

.navigation-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}

li.navigation-list-item-logo {
  display: inline-flex;
  justify-content: center;
}

li.navigation-list-item-logo-small {
  display: inline-flex;
  justify-content: center;
}

li.navigation-list-item-icon {
  margin: 20px;
  display: inline-flex;
  justify-content: center;
}

.navbar-logo {
  width: 100%;
}

.navbar-logo-small {
  width: 35%;
}

.navbar-icon {
  width: 3rem;
}

.navbar-icon-footer {
  width: 3rem;
}

.container {
  background-color: whitesmoke;
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
}

.content-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-content {
  height: 76%;
  width: 100%;
  background-color: whitesmoke;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.logo-group {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 120%;
  height: 20%;
}

/* Login-Logo */
.login-logo-form1 {
  width: 30%;
  height: 80%;
  margin-right: 10px;
  -webkit-animation: text-focus-in 1.8s cubic-bezier(0.55, 0.085, 0.68, 0.53)
    both;
  animation: text-focus-in 1.8s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}
@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
.login-logo-form2 {
  width: 100%;
  height: 100%;
  -webkit-animation: rotate-center 30s linear 1s 3 both;
  animation: rotate-center 30s linear 1s 3 both;
}

@-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.login-logo-text {
  width: 50%;
  height: 80%;
  margin-right: 20px;
  margin-left: -10px;
  -webkit-animation: slide-in-right 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: slide-in-right 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
/*Forms*/

.form-container {
  width: 100%;
  margin: 2rem auto;
  overflow: hidden;
  padding: 0 2rem;
  overflow: visible;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-group {
  margin: 1.2rem 0;
  width: 100%;
}

.form-group input {
  width: 100%;
  margin: 0.2rem 0;
  border: 2px solid var(--primary-text-color);
  border-radius: 10px;
  padding: 1rem;
  padding-top: 1.5rem;
  box-shadow: 10px 10px 5px var(--shadow-color);
}

.form-group input::placeholder {
  font-size: 1.3rem;
}

input {
  margin: 1.2rem 0;
  font-size: 1.3rem;
}

.form-text {
  display: block;
  margin-top: 0.3rem;
  color: #888;
}

input.btn.btn-block.btn-primary {
  margin-top: 2rem;
  box-shadow: 10px 10px 5px var(--shadow-color);
}

.btn {
  display: inline-block;
  background: var(--button-color);
  color: #333;
  padding: 1rem 1.3rem;
  font-size: 1.5rem;
  font-family: inherit;
  font-weight: bolder;
  border: none;
  cursor: pointer;
  transition: opacity 0.2s ease-in;
  outline: none;
  border-radius: 10px;
}

.btn-link {
  background: none;
  padding: 0;
  margin: 0;
  display: block;
  text-decoration: none;
}

.btn-block {
  display: block;
  width: 60%;
  margin: auto;
}

.btn-primary {
  background: var(--button-color);
  color: #fff;
  -webkit-animation: shake-horizontal 1.2s cubic-bezier(0.55, 0.085, 0.68, 0.53)
    60s both;
  animation: shake-horizontal 1.2s cubic-bezier(0.55, 0.085, 0.68, 0.53) 60s
    both;
}
/**
 * ----------------------------------------
 * animation shake-horizontal
 * ----------------------------------------
 */
@-webkit-keyframes shake-horizontal {
  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }
  20%,
  40%,
  60% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
  80% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }
  90% {
    -webkit-transform: translateX(-8px);
    transform: translateX(-8px);
  }
}
@keyframes shake-horizontal {
  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }
  20%,
  40%,
  60% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
  80% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }
  90% {
    -webkit-transform: translateX(-8px);
    transform: translateX(-8px);
  }
}

.btn-secondary {
  background: none;
  color: var(--primary-text-color);
}

.footer {
  background-color: var(--backgroud-color);
  bottom: 0;
  left: 0;
  position: fixed;
  height: 12%;
  min-width: 100%;
  text-align: center;
  border-top-left-radius: 20rem 4rem;
  border-top-right-radius: 20rem 4rem;
  border-top: 2px solid var(--primary-text-color);
}

/* .form-container {
    background-color: aqua;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

} */
